.input {
  position: relative;
}
.input input {
  width: 100%;
  display: block;
  border-radius: 10px;
  padding: 0.8rem;
  outline: none;
  border: 1px solid #B7BAC1;
  font-weight: 700;
  color: #5C5C5C;
  font-family: 'Roboto';
}
.input input:placeholder-shown {
  font-weight: 700;
  color: #B7BAC1;
}

.input label {
  color: #fff;
  font-size: 0.8rem;
}